doctype html
html
    head
        title Schedule
        link(rel="stylesheet", href="/styles.css")

    body
        .main
            mixin event(event)
                .event(style=`background-color: ${event.color}`)
                    p= event.label
                    div 
                        span= new Date(new Date(event.startTime).getTime()).toLocaleTimeString('sv-SE', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Stockholm' })
                        span -
                        span= new Date(new Date(event.endTime).getTime()).toLocaleTimeString('sv-SE', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Stockholm' })


            mixin dayColumn(day)
                .day-column
                    h1= day.name
                    .event-column
                        each event in day.events
                            +event(event)

            mixin weekendDayColumn(day)
                .day-column
                    h1= day.name
                    .event-row
                        each event in day.events
                            +event(event)

            h1(style="margin-bottom: 0px; font-weight: 300;") VECKA #{nextWeek ? " (Nästa)" : ""}
            h1(style="font-size: 3em")= weekNumber

            .weekdays
                each day in days.slice(0, 5)
                    +dayColumn(day)

            .weekend
                each day in days.slice(5, 7)
                    +weekendDayColumn(day)
